.name {
    font-size: 96px;
    font-weight: bold;
}

.description {
    font-size: 36px;
    font-weight: 300;
}

.descriptionBlock {
    margin-top: 100px;
}

.backgound {
    position: absolute;
    top: 4%;
    right: calc(-100px - 10%);
    bottom: 0;
    width: 80%;
}

.picture {
    width: 70%;
}

.main {
    display: flex;
    position: relative;
    box-sizing: border-box;
    height: 100vh;
    padding: 100px;
    overflow: hidden;
}
