html,
body {
    display: block;
    margin: 0;
    font-family: 'Fira Code', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell,
        'Helvetica Neue', sans-serif, monospace;
}

/**
 * @file Сброс стилевых правил к их дефолтному значению, определяемому браузером.
 *
 * Термины:
 *  Ресет - Изменение значения стилевого правила таким образом, что его значение отличается
 *  от значения указанного в браузере по умолчанию.
 *
 *  Наследуемое правило - Многие из правил могуть иметь значение inherit, однако наследуемым будем называть
 *  только такое правило, значение которого по умолчанию именно inherit (определяется родителем).
 *
 * Важно:
 *  - При перегрузке дефолтных правил НЕ должно быть ресетов,
 *    все ресеты, по возможности, должны делаться уже на уровне компонентов виджета.
 *  - Наследуемые правила должны ВСЕГДА только наследоваться.
 *  - Некоторые стилевые правила, например width, применяются только к блочным элементам,
 *    однако партнер может переопределять их и для строчных элементов, и потому при изменении на нашей строне
 *    значения стилевого правила display (например .someSpanElement {display: inline-block} мы можем словить баг.
 *    Чтобы этого не происходило будем прописывать правила и для строчных и блочных элементов одновременно.
 *
 * Сноски:
 *  1 - {padding: 0} является ресетом для элементов <ul/> и <input/>, но,
 *      закроем на это глаза, чтобы не указывать точное значение, которое может зависеть от конкретного браузера.
 *  2 - Отменяет рамку для тега <img/>, когда картинка внутри тега <a/>.
 *      По сути тоже ресет, но закроем глаза, чтобы не выделять элемент в отдельную группу.
 *  3 — {margin: 0} является ресетом для элементов <h1/> ... <h6/>, закроем на это глаза,
 *      чтобы не указывать точное значение, которое может зависеть от конкретного браузера.
 */

h1,
h2,
h3,
h4,
h5,
h6,
div,
ul,
li,
span,
a,
img,
input,
button,
table,
tbody,
tr,
td,
header,
article,
footer {
    font-family: 'Fira Code', monospace;
}
