.root {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.name {
    display: inline;
    color: #28334c;
    /* calc(minFontSize + (maxFontSize - minFontSize) * (100vw - minScreenSize) / (maxScreenSize-minScreenSize)) */
    font-size: calc(18px + ((45 - 18) * (100vw - 320px)) / (1440 - 320));
    font-weight: normal;
}

.description {
    margin-top: -5px;
    color: #28334c;
    font-size: calc(12px + ((24 - 12) * (100vw - 320px)) / (1440 - 320));
    font-weight: 300;
}

.dash {
    color: #d34a47;
}

.subLogo {
    font-weight: 300;
}
