.root {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.name {
    display: inline;
    color: #28334c;
    font-size: 48px;
    font-weight: lighter;
}

.description {
    margin-top: -5px;
    color: #28334c;
    font-size: 24px;
    font-weight: 300;
}

.dash {
    color: #d34a47;
}
