.root {
    display: flex;
    flex-direction: column;

    width: 100vw;
    height: 100vh;
    padding: calc(12px + ((60 - 12) * (100vw - 320px)) / (1440 - 320));
}

.name {
    margin: 0;
    margin-right: calc(40px + ((80 - 40) * (100vw - 320px)) / (1440 - 320));
    /* calc(minFontSize + (maxFontSize - minFontSize) * (100vw - minScreenSize) / (maxScreenSize-minScreenSize)) */
    font-size: calc(50px + ((110 - 50) * (100vw - 320px)) / (1440 - 320));
    font-weight: bold;
    line-height: 100%;
}

.about {
    margin: 0;
    padding-top: 6px;
    font-size: calc(30px + ((70 - 30) * (100vw - 320px)) / (1440 - 320));
    font-weight: bold;
    line-height: 100%;
}

.content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.contentWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.gitHubLogo {
    position: absolute;
    top: 5vw;
    right: 5vw;
    width: calc(30px + ((50 - 30) * (100vw - 320px)) / (1440 - 320));
    height: calc(30px + ((50 - 30) * (100vw - 320px)) / (1440 - 320));
    opacity: 0.5;
}

.link:focus {
    outline: transparent;
}

.link:hover > .gitHubLogo,
.link:focus > .gitHubLogo {
    opacity: 0.9;
}

.navigationWrapper {
    position: relative;
}

.navigation {
    display: flex;
    position: absolute;
    right: 0;
    left: 0;

    font-size: calc(12px + ((24 - 12) * (100vw - 320px)) / (1440 - 320));
    line-height: 2.5;
}

.navigationItem:not(:first-child) {
    margin-left: calc(6px + ((30 - 6) * (100vw - 320px)) / (1440 - 320));
}

@media screen and (max-width: 930px) {
    .name {
        margin-right: 0;
        margin-bottom: 40px;
    }

    .content {
        flex-direction: column;
        align-items: flex-start;
    }
}
