.root {
    display: flex;
    flex-direction: column;

    width: 100vw;
    height: 100vh;
}

.navigation {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    max-height: calc(100vh - 15vmax);
}

.footerSpace {
    margin-bottom: -8vmax;
}

.header {
    flex-shrink: 0;
}

.gitHubLogo {
    top: 5vw;
    right: 5vw;
    width: calc(30px + ((50 - 30) * (100vw - 320px)) / (1440 - 320));
    height: calc(30px + ((50 - 30) * (100vw - 320px)) / (1440 - 320));
    opacity: 0.5;
}

.link:focus {
    outline: transparent;
}

.link:hover > .gitHubLogo,
.link:focus > .gitHubLogo {
    opacity: 0.9;
}
