.root {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    height: 200px;

    padding: 0 80px;
}

.gitHubLogo {
    top: 80px;
    right: 80px;
    opacity: 0.5;
}

.link {
    outline: none;
}

.link:hover > .gitHubLogo,
.link:focus > .gitHubLogo {
    opacity: 0.9;
}
