.root {
    position: relative;
    width: 40vmin;
    margin: 0 -7vmin;
    overflow: hidden;
    text-align: center;
}

.root:focus > svg {
    -webkit-filter: drop-shadow(10px 10px 4px rgba(0, 0, 0, 0.8));
    filter: drop-shadow(2px 2px 2px grey);
}
