.root {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: calc(100vh - 15vmax);
    min-height: fit-content;
    padding: 0 5vw 15vmax;
}

.title {
    margin-bottom: 0;
    font-size: calc(14px + ((35 - 14) * (100vw - 320px)) / (1440 - 320));
    font-weight: 500;
}

.description {
    margin-top: 0.7em;
    margin-bottom: 0;
    font-size: calc(14px + ((35 - 14) * (100vw - 320px)) / (1440 - 320));
    font-weight: 300;
}

.button {
    height: 2.2em;
    margin-top: 2.5em;
    font-size: calc(12px + ((28 - 12) * (100vw - 320px)) / (1440 - 320));
    font-weight: 300;
}
